p{
    text-align: left;
}
#centr{
    text-align: center;
}
.w{
        width: 33%;
        float: left;
        text-align: center;
}
#hiros{
text-align: left;

}
.left{
    text-align: left;
}
.p{
    width: 33%;
    float: left;
    text-align: center;
}
